@import "~bootstrap/scss/functions";
$custom-file-text: (
        en: "Browse",
        fr: "Télécharger"
);
@import "~bootstrap/scss/bootstrap";
@import '~select2/src/scss/core';


//import file
@import "image";